services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
  
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3100:3100"
    environment:
      - PORT=3100
      - MONGO_URL=mongodb://mongo:27017/user_db
    depends_on:
      - mongo
  task-service:
    build: ./task-service
    container_name: task-service
    ports:
      - "3200:3200"
    environment:
      - PORT=3200
      - MONGO_URL=mongodb://mongo:27017/task_db
      - RABBITMQ_URL=amqp://rabbitmq:5672
    depends_on:
      - mongo
      - rabbitmq

volumes:
  mongo-data: