services:
  mongo:
    image: mongo:6.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
  
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3100:3100"
    environment:
      - PORT=3100
      - MONGO_URL=mongodb://mongo:27017/users
    depends_on:
      - mongo

volumes:
  mongo-data: